.main-page {
  padding: 40px 0 40px;
  max-width: 500px;
  margin: 0 auto;
}

.loader {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-error {
  width: 100%;
  padding: 50px 0;
  font-size: 16px;
  text-align: center;
}
